<%- include("partials/header.ejs") %>
<div class="mainbody">
  <form>
    <button type="submit" formaction="/news_based_on_user_request">
      <P>Search for articles on the web that mention a keyword or phrase</P>
    </button>
    <button type="submit" formaction="/news_headlines">
      <P>Get the current top headlines for a country or category</P>
    </button>
  </form>
</div>
<%- include("partials/footer.ejs") %>