<div>
    <h1>News publishers that top headlines are available from.</h1>

    <form method="POST" action="/topic-sources">

      <select id="country2" name="country2">
        <option value="us"> United States</option>
        <option value="in">India</option>
        <option value="ru">Russia</option>
        <option value="au">Australia</option>
        <option value="ae"> United Arab Emirates</option>
      </select>

      <button type="submit">Submit</button>

      <p><%= locals.content3 %></p>
  </div>
